@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotLogin</title>
</head>
<body>
    <div>
        您还未登录
        @Html.ActionLink("转到登录页面","LoginPage")
    </div>
</body>
</html>
