<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/Master.css" rel="stylesheet" />
    <script src="~/JS/jquery-1.8.0.min.js"></script>
    <script src="~/JS/Master.js"></script>
</head>
<body>
    <div style="width:1004px;height:800px;margin:0px auto">
        <div class="MainTop"></div>
        <div class="MainLeft">
            <div class="treeTop">管理员，您好！</div>
            <div class="treeBody">
                <div class="treeMain">
                    <img class="img1" src="~/Images/Home/tree/collapse.gif" />&nbsp;<a href="#">管理员控制面板</a>
                </div>
                <div class="treeDl">
                    <div><img class="img1" src="~/Images/Home/tree/collapse.gif" />&nbsp;<a href="#">用户管理</a></div>
                    <ul>
                        <li><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/StateManage">状态管理</a></li>
                        <li><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/UserList">用户列表</a></li>
                    </ul>
                    <div><img class="img1" src="~/Images/Home/tree/collapse.gif" />&nbsp;<a href="#">图书管理</a></div>
                    <ul>
                        <li><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/CategoryList">添加图书分类</a></li>
                        <li><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/Current">书籍列表</a></li>
                    </ul>
                    <div><img class="img1" src="~/Images/Home/tree/collapse.gif" />&nbsp;<a href="#">订单管理</a></div>
                    <ul>
                        <li><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/Current">审核订单</a></li>
                    </ul>
                    <div><img src="~/Images/Home/tree/node.gif" />&nbsp;<a href="/Home/Exit" onclick='return confirm("确认退出管理？");'>退出</a></div>
                </div>
            </div>
        </div>
        <div class="right">
            @RenderBody()
        </div>
    </div>
</body>
</html>
